:root {
    --dark-blue: #23375E;
    --blue: #0e8ff3;
    --blue-hover: #2ab1f7;
    --blue-active: #2995ff;
    --green: #22D400;
    --green-hover: #1db700;
    --green-active: #199c00;
}

html, body {
    padding: 0;
    margin: 0;
    font-family: Segoe UI, sans-serif;
    color: #fff;
}

body {
    overflow: scroll;
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Segoe UI, sans-serif;
    color: #fff;
    font-weight: 100;
    margin: 0;
}

h1 {
    font-size: 26px;
}

h5 {
    font-size: 15px;
}

i {
    margin: auto;
}

#widget-container {

}

#widget-header {
    background-color: #0f76e0;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='400' height='400' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%2340a3e6' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%2340a3e6'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
    padding: 20px 25px;
    display: flex;
    z-index: 10;
    border-radius: 0 0 10px 10px;
}

.widget-header-chat {
    position: fixed;
    width: 100%;
}

#widget-body {

}

#widget-header-text-container {
    display: flex;
    flex-direction: column;
}

#widget-header-buttons-container {
    display: flex;
    margin: auto 0;
    background-color: #ffffff17;
    padding: 5px 10px;
    border-radius: 10px;
}

.opacity-0-8 {
    opacity: 0.8;
}

.color-dark-blue {
    color: var(--dark-blue);
}

.color-blue {
    color: var(--blue);
}

.semilight {
    font-weight: 400;
}

.regular {
    font-weight: 600;
}

.mb10 {
    margin-bottom: 10px;
}

.justify-start {
    justify-content: start;
}

.justify-space-between {
    justify-content: space-between;
}

.round-button {
    color: #fff;
    font-size: 25px;
    width: 45px;
    height: 45px;
    display: inline-flex;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.2s;
}

#chat-button {
    background-color: #41c4ff;
    margin-right: 10px;
}

#chat-button:hover {
    background-color: var(--blue-hover);
}

#chat-button:active {
    background-color: var(--blue-active);
}

#call-button {
    background-color: var(--green);
}

#call-button:hover {
    background-color: var(--green-hover);
}

#call-button:active {
    background-color: var(--green-active);
}

.module {
    padding: 20px 25px;
    box-shadow: 0 0px 20px 1px #e9ebf1;
    border-radius: 10px;
    margin: 10px;
    /* border-top: 2px solid #d0d6e0; */
}

.product {
    display: flex;
    cursor: pointer;
    padding: 5px;
    margin-top: 10px;
    border-left: 2px solid var(--blue);
    transition: 0.2s;
    border-radius: 0 5px 5px 0;
}

.product:hover {
    background-color: #48a3fb30;
}

.module-container {
    margin-top: 10px;
    /* margin-left: 15px; */
}

.product-img {
    max-height: 80px;
}

.product-text {
    margin-left: 20px;
}

.btn {
    border-radius: 5px;
    text-align: center;
    font-weight: 400;
    padding: 10px;
    cursor: pointer;
    margin-top: 10px;
    user-select: none;
    transition: 0.2s;
}

.blue-btn {
    background-color: #0e8ff3;
}

.blue-btn:hover {
    padding-left: 20px;
}

.blue-bordered-btn {
    color: var(--blue);
    border: 1px solid var(--blue);
    text-align: left;
    display: flex;
    justify-content: space-between;
}

.blue-bordered-btn i {
    margin: unset;
    margin-top: 4px;
    transition: 0.2s;
    margin-right: 5px;
}

.blue-bordered-btn:hover i {
    margin-right: 0;
}

#back-button {
    display: flex;
    width: 40px;
    height: 40px;
    opacity: 0.2;
    font-size: 20px;
    cursor: pointer;
    border-radius: 5px;
    margin-right: 20px;
}

#back-button:hover {
    background-color: #000;
}

#msg-panel {
    border-top: 1px solid #ececec;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
}

#msg-input {
    color: #566988;
    outline: none;
    font-size: 15px;
    word-break: break-word;
    flex-grow: 1;
    padding: 15px 20px;
    max-height: 200px;
    overflow: auto;
    cursor: text;
}

#msg-input::before {
    content: attr(placeholder);
}

#msg-input:not(:empty)::before {
    content: '';
}

#msg-left-buttons-container {
    display: flex;
    margin: auto 0 auto 20px;
}

#msg-right-buttons-container {
    display: flex;
    margin: auto 20px auto 0;
}

.msg-button {
    color: #18497d6e;
    margin-left: 5px;
    cursor: pointer;
    opacity: 0.5;
}

.msg-button:hover {
    opacity: 0.3;
}

#send-msg-button {
    color: var(--blue);
    margin-left: 15px;
    opacity: 1 !important;
}

#send-msg-button:hover {
    opacity: 0.5 !important;
}

#call-container {
    margin: 25px;
}

.call-input {
    padding: 10px 15px;
    color: var(--dark-blue);
    background-color: #FCFCFC;
    border-radius: 5px;
    border: 1px solid #F3F3F3;
    outline: none;
    margin-bottom: 15px;
    cursor: text;
}

.call-input::before {
    content: attr(placeholder);
}

.call-input:not(:empty)::before {
    content: '';
}

.call-input::placeholder {
    color: #a1adc3;
}

#msg-container {
    padding-top: 120px;
    /* margin-bottom: 60px; */
}

.msg {
    width: fit-content;
    padding: 1px 20px;
    border-radius: 5px;
    margin: 0 0 30px 10px;
    word-break: break-word;
    max-width: 200px;
}

.client-msg {
    margin: 0 10px 30px auto;
    background-color: #C5E6FF;
}

.consultant-msg {
    background-color: #EEF3FB;
}

.time {
    color: #cecece;
    position: absolute;
    right: 10px;
    margin: -20px 0 0 0;
    font-size: 12px;
}

.left-10 {
    left: 10px;
}

#offer-to-write-msg {
    color: #bfd1e4;
    position: absolute;
    bottom: 250px;
    width: 100%;
    text-align: center;
}
