:root {
    --blue: #0081ff;
    --dark-blue: #0075e6;

    --gray: #465c86;
    --light-gray: #7588af;
    --dark-gray: #32456f;

    --color-vk: #4a75a8;
    --color-instagram: #ff3b00;
}

html, body {
    padding: 0;
    margin: 0;
    font-family: Segoe UI, sans-serif;
    color: #fff;
}

body {
    overflow: scroll;
    overflow-x: hidden;
    background-color: white;
}

body * {
    transition: 0.2s;
}

a { text-decoration: none; }

hr { border: 0.5px solid #eaeaea; }

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    padding: 15px;
    border-bottom: 1px solid #eaeaea;
    cursor: pointer;
}

li:hover {
    background-color: #fbfbfb;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Segoe UI, sans-serif;
    color: #fff;
    font-weight: 100;
    margin: 0;
}

h1 {
    font-size: 26px;
}

h5 {
    font-size: 15px;
}

footer {
    position: fixed;
    bottom: 0;
    background-color: white;
    width: 100%;
    text-align: center;
    height: 40px;
    display: flex;
    border-top: 1px solid #eaeaea;
}

.work-on {
    font-size: 15px;
    color: var(--light-gray);
    margin: auto;
    cursor: pointer;
    border-radius: 15px;
    padding: 7px;
}

.work-on:hover {
    background-color: #f0f2f7;
}

/*-------------------------PADDINGS_BEGIN-------------------------------*/

.p5 { padding: 5px; }
.pl5 { padding-left: 5px; }
.pr5 { padding-right: 5px; }
.pt5 { padding-top: 5px; }
.pb5 { padding-bottom: 5px; }

.p10 { padding: 10px; }
.pl10 { padding-left: 10px; }
.pr10 { padding-right: 10px; }
.pt10 { padding-top: 10px; }
.pb10 { padding-bottom: 10px; }

.p15 { padding: 15px; }
.pl15 { padding-left: 15px; }
.pr15 { padding-right: 15px; }
.pt15 { padding-top: 15px; }
.pb15 { padding-bottom: 15px; }

.p20 { padding: 20px; }
.pl20 { padding-left: 20px; }
.pr20 { padding-right: 20px; }
.pt20 { padding-top: 20px; }
.pb20 { padding-bottom: 20px; }

.p25 { padding: 25px; }
.pl25 { padding-left: 25px; }
.pr25 { padding-right: 25px; }
.pt25 { padding-top: 25px; }
.pb25 { padding-bottom: 25px; }

.p30 { padding: 30px; }
.pl30 { padding-left: 30px; }
.pr30 { padding-right: 30px; }
.pt30 { padding-top: 30px; }
.pb30 { padding-bottom: 30px; }

.p35 { padding: 35px; }
.pl35 { padding-left: 35px; }
.pr35 { padding-right: 35px; }
.pt35 { padding-top: 35px; }
.pb35 { padding-bottom: 35px; }

/*-------------------------PADDINGS_END-------------------------------*/

/*-------------------------MARGINS_BEGIN-------------------------------*/

.m5 { margin: 5px; }
.ml5 { margin-left: 5px; }
.mr5 { margin-right: 5px; }
.mt5 { margin-top: 5px; }
.mb5 { margin-bottom: 5px; }

.m10 { margin: 10px; }
.ml10 { margin-left: 10px; }
.mr10 { margin-right: 10px; }
.mt10 { margin-top: 10px; }
.mb10 { margin-bottom: 10px; }

.m15 { margin: 15px; }
.ml15 { margin-left: 15px; }
.mr15 { margin-right: 15px; }
.mt15 { margin-top: 15px; }
.mb15 { margin-bottom: 15px; }

.m20 { margin: 20px; }
.ml20 { margin-left: 20px; }
.mr20 { margin-right: 20px; }
.mt20 { margin-top: 20px; }
.mb20 { margin-bottom: 20px; }

.m25 { margin: 25px; }
.ml25 { margin-left: 25px; }
.mr25 { margin-right: 25px; }
.mt25 { margin-top: 25px; }
.mb25 { margin-bottom: 25px; }

.m30 { margin: 30px; }
.ml30 { margin-left: 30px; }
.mr30 { margin-right: 30px; }
.mt30 { margin-top: 30px; }
.mb30 { margin-bottom: 30px; }

.m35 { margin: 35px; }
.ml35 { margin-left: 35px; }
.mr35 { margin-right: 35px; }
.mt35 { margin-top: 35px; }
.mb35 { margin-bottom: 35px; }

.mauto { margin: auto; }

.mminus25 { margin: -25px; }
.mminus35 { margin: -35px; }

/*-------------------------MARGINS_END-------------------------------*/

.flex-row { display: flex; flex-direction: row; }
.flex-column { display: flex; flex-direction: column; }
.inline-flex { display: inline-flex; }

.color-white { color: white; }
.color-blue { color: var(--blue); }
.color-gray { color: var(--gray); }
.color-light-gray { color: var(--light-gray); }
.color-dark-gray { color: var(--dark-gray); }

.bcolor-blue { background-color: var(--blue); }
.bcolor-vk { background-color: var(--color-vk); }
.bcolor-instagram { background: radial-gradient(circle at 33% 100%, #FED373 4%, #F15245 30%, #D92E7F 62%, #9B36B7 85%, #515ECF); }

.bold { font-weight: 600; }
.center { text-align: center; }

.fs15 { font-size: 15px; }
.fs16 { font-size: 16px; }
.fs17 { font-size: 17px; }
.fs18 { font-size: 18px; }
.fs19 { font-size: 19px; }
.fs20 { font-size: 20px; }
.fs21 { font-size: 21px; }
.fs22 { font-size: 22px; }
.fs23 { font-size: 23px; }
.fs24 { font-size: 24px; }
.fs25 { font-size: 25px; }

.icon-container {
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

.article-hr {
    margin: 10px -25px;
}

.attention-module {
    background: linear-gradient(45deg, #007efe, #4837a7);
    padding: 10px 15px;
}

.justify-start { justify-content: start; }
.justify-space-between { justify-content: space-between; }
.justify-space-evenly { justify-content: space-evenly; }

.star {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    cursor: pointer;
    display: inline-flex;
    padding: 5px;
    background-color: var(--blue);
}

.star:hover {
    background-color: var(--dark-blue);
}

.pointer { cursor: pointer; }

#widget-container {

}

#widget-header {
    background: linear-gradient(0deg, #00479a, #001742);
    z-index: 10;
}

#widget-body {
    margin-bottom: 40px;
}

.widget-header-chat {
    position: fixed;
    width: 100%;
}

.opacity-0-8 {
    opacity: 0.8;
}

.semilight {
    font-weight: 400;
}



.round-button {
    color: #fff;
    font-size: 25px;
    width: 45px;
    height: 45px;
    display: inline-flex;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.2s;
}

#chat-button {
    background: linear-gradient(0deg, #0067f1, #0081ff);
    margin-right: 10px;
}

#chat-button:hover {
    opacity: 0.8;
}

#call-button {
    background: linear-gradient(0deg, #05ad64, #00ff5d);
}

#call-button:hover {
    opacity: 0.8;
}

.module {
    box-shadow: 0 0px 20px 1px #e9ebf1;
    border-radius: 10px;
    margin: 10px;
}

.module-container {
    margin-top: 10px;
    /* margin-left: 15px; */
}

.btn {
    border-radius: 5px;
    text-align: center;
    font-weight: 400;
    padding: 10px;
    cursor: pointer;
    margin-top: 10px;
    user-select: none;
}

.blue-btn {
    background-color: var(--blue);
}

.blue-btn:hover {
    background-color: var(--dark-blue);
}

.blue-bordered-btn {
    color: var(--blue);
    border: 1px solid var(--blue);
    text-align: left;
    display: flex;
    justify-content: space-between;
}

.blue-bordered-btn i {
    margin: unset;
    margin-top: 4px;
    transition: 0.2s;
    margin-right: 5px;
}

.blue-bordered-btn:hover i {
    margin-right: 0;
}

#back-button {
    display: flex;
    width: 40px;
    height: 40px;
    opacity: 0.2;
    font-size: 20px;
    cursor: pointer;
    border-radius: 5px;
    margin-right: 20px;
}

#back-button:hover {
    background-color: #000;
}

#msg-panel {
    border-top: 1px solid #ececec;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
}

#msg-input {
    color: #566988;
    outline: none;
    font-size: 15px;
    word-break: break-word;
    flex-grow: 1;
    padding: 15px 20px;
    max-height: 200px;
    overflow: auto;
    cursor: text;
}

#msg-input::before {
    content: attr(placeholder);
}

#msg-input:not(:empty)::before {
    content: '';
}

#msg-left-buttons-container {
    display: flex;
    margin: auto 0 auto 20px;
}

#msg-right-buttons-container {
    display: flex;
    margin: auto 20px auto 0;
}

.msg-button {
    color: #18497d6e;
    margin-left: 5px;
    cursor: pointer;
    opacity: 0.5;
    display: flex;
}

.msg-button:hover {
    opacity: 0.3;
}

#send-msg-button {
    color: var(--blue);
    margin-left: 15px;
    opacity: 1 !important;
}

#send-msg-button:hover {
    opacity: 0.5 !important;
}

#call-container {
    margin: 25px;
}

.call-input {
    padding: 10px 15px;
    color: var(--gray);
    background-color: #FCFCFC;
    border-radius: 5px;
    border: 1px solid #F3F3F3;
    outline: none;
    margin-bottom: 15px;
    cursor: text;
}

.call-input::before {
    content: attr(placeholder);
}

.call-input:not(:empty)::before {
    content: '';
}

.call-input::placeholder {
    color: #a1adc3;
}

#msg-container {
    padding-top: 150px;
    /* margin-bottom: 60px; */
}

.msg {
    width: fit-content;
    padding: 1px 20px;
    border-radius: 5px;
    margin: 0 0 30px 10px;
    word-break: break-word;
    max-width: 200px;
}

.client-msg {
    margin: 0 10px 30px auto;
    background-color: var(--blue);
}

.consultant-msg {
    background-color: #f0f4f9;
    color: var(--gray);
}

.time {
    color: #cecece;
    position: absolute;
    right: 10px;
    margin: -20px 0 0 0;
    font-size: 12px;
}

.left-10 {
    left: 10px;
    right: none;
}

#offer-to-write-msg {
    color: #bfd1e4;
    position: absolute;
    bottom: 250px;
    width: 100%;
    text-align: center;
}
